#container {
    display: flex;
    justify-content: center;
    max-width: 400px;
    margin: auto;

}

.abertura {
    position: relative;
    min-width: 360px;
    padding: 10px;
    background-color: rgb(233, 233, 38);
}

.img-pikachu {
    max-width: 125px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.centralizar {
    text-align: center;
    padding: 5px;
}
.conteudo{
    position: absolute;
    top: 210px;
    max-width: 360px;
    padding: 10px;
    background-color: rgb(233, 233, 38);

}
.conteudo h2{
    color:rgb(33, 152, 152);
    text-decoration: underline;
}
.conteudo p {
    color: rgb(53, 48, 48);
    text-align: justify;
    padding: 10px 5px 10px 0px;
}
.conteudo ul{
    list-style-type: none;
}
.conteudo ul li{
    color: rgb(53, 48, 48);
    text-align: justify;
}
.final {
    position: relative;
}
.final li {
    margin: 0;
    padding: 10px 0px 10px 30px;
    list-style: none;
    background-image: url("https://www.iconpacks.net/icons/1/free-badge-icon-1361-thumb.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size:30px;
}

#veiculos{
    margin: 0 auto;
    max-width: 400px;
}

.tb-veiculos{
    width: 360px;
    margin: 20px;
}

.tb-veiculos, th, td{
    border: 1px solid black;
    padding: 2px;
}

.tb-veiculos, tr{
    height: 60px;
}

.img-tabela{
    width: 100px;
}

.menu-site a{
    width: 200px;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.menu-site a:hover {
    background-color: #ccc;
}

.menu-site a.ativo{
    background-color:gray;
    color: blue;
}