* {
    box-sizing: border-box;
}

#container {
    display: flex;
    justify-content: center;
    max-width: 400px;
    margin: auto;
}

#centralizar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.abertura {
    position: relative;
    min-width: 360px;
    padding: 10px;
    background-color: rgb(233, 233, 38);
}

.img-pikachu {
    max-width: 125px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.centralizar {
    padding: 5px;
}

.conteudo {
    position: absolute;
    top: 220px;
    max-width: 360px;
    padding: 10px;
    background-color: rgb(233, 233, 38);

}

.conteudo h2 {
    color: rgb(33, 152, 152);
    text-decoration: underline;
}

.conteudo p {
    color: rgb(53, 48, 48);
    text-align: justify;
    padding: 10px 5px 10px 0px;
}

.conteudo ul {
    list-style-type: none;
}

.conteudo ul li {
    color: rgb(53, 48, 48);
    text-align: justify;
}

.final {
    position: relative;
}

.final li {
    margin: 0;
    padding: 10px 0px 10px 30px;
    list-style: none;
    background-image: url("https://www.iconpacks.net/icons/1/free-badge-icon-1361-thumb.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px;
}

#veiculos {
    margin: 0 auto;
    max-width: 400px;
}

.tb-veiculos {
    width: 360px;
    margin: 20px;
}

.tb-veiculos,
th,
td {
    border: 1px solid black;
    padding: 2px;
}

.tb-veiculos,
tr {
    height: 60px;
}

.img-tabela {
    width: 100px;
}

.menu-site a {
    width: 200px;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.menu-site a:hover {
    background-color: #ccc;
}

.menu-site a.ativo {
    background-color: gray;
    color: blue;
}

.localizacao {
    margin: auto;
    justify-content: center;
    width: 400px;
}

.img-email {
    width: 90px;
}

.formulario-contato {
    margin: 10px 0px 10px 0px;
}

.card-index {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    max-width: 320px;
}

.card-index:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-index-dados {
    padding: 2px 16px;
}

.imagem-pessoa {
    border-radius: 5px 5px 0 0;
    width: 320px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: auto;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.titulo-card{
    text-decoration: underline;
}

.descricao{
    margin: auto;
    max-width: 600px;
}

.descricao-titulo{
    text-decoration: underline;
    float: right;
}

.descricao-texto{
    position: relative;
    text-align: justify;
}

.img-descricao{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}