body{
    max-width: max-content;
    margin: auto;
    background-color: white;
}

header{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.container{
    margin: auto;
    display: inline-block;

}

.imgRM{
    width: 50px;
    display: inline-block;
    padding: 10px;
}

.titulo__header{
    display: inline-block;
    vertical-align: top;
}

.nomePersonagem{
    text-decoration: underline;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    vertical-align: super;
}

.statusPersonagem{
    width: 50px;
    display: inline-block;
    padding-right: 20px;
}

.imgPersonagemBox{
    text-align: center;
}

.containerBusca{
    text-align: center;
}

.descricao{
    visibility: hidden;
    border-top: 5px inset #A1140A;
    border-bottom: 5px inset #160440;
    border-right: 5px inset #08C952;
    border-left: 5px inset #EDCF6B;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.tituloDadosPersonagem{
    padding-left:10px;
}
.dadosPersonagem{
    padding-left:40px;
}


@media screen and (max-width: 400px) {
    .headerPersonagem{
        text-align: center;
    }
    .imgPersonagem{
        padding-top: 20px;
    }
}
